body {
    background: linear-gradient(0deg, #ffc1bd 0%, #859dff 100%);
    width: fit-content;
}

* {
    color: white;
}

.topnav {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: #000000;
    overflow: hidden;
    font-weight: bold;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #745cff;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 140px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 80px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.imagetype{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 700px;
    border: white 8px solid;
    border-radius: 10px;
}